body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DIN Pro', Roboto;
  font-size: 12pt;
  color:#575756;
}

.orange {color: #ee6322;}
.dark {color: #243740;}

a {color: #ee6322; opacity: 0.8; text-decoration: none;}
a:hover {opacity: 1;}
p {line-height: 1.6em;}

.header-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 200px;
  grid-template-columns: 200px 1fr 200px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 0 6px;
  border-top: 1px solid #243740;
  border-bottom: 1px solid #243740;
}
.header-row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.header-row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.header-row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.slider-row {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.main-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr auto;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
}
.main-row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main-row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.main-row > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.main-row > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.main-row > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.main-row > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.main-row > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.main-row > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.main-row > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.main-row > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.main-row > div {padding: 36px; margin: 20px 0;}

header, .main {padding: 0 18px;}
footer {background: #6f6f6e; margin-top: 20px; padding: 30px 18px; color: #fff;}

.footer-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer-row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.btn {
  display: block;
  border: 1px solid #ee6322;
  padding: 6px;
  font-size: 14pt;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  color: #243740;
}
.btn:hover {
  background: #ee6322;
  color:#fff;
  -webkit-box-shadow: 0 0 10px rgba(238,99,34,0.5);
		  box-shadow: 0 0 10px rgba(238,99,34,0.5);
}

img.logo {max-height: 90px;}
.header-row > .title {padding-top: 29px; font-size: 18pt; font-weight: bold; text-transform: uppercase; color: #243740; text-align: center;}
.header-row > .reg {padding-top: 26px; width: 180px; margin: 0 auto;}

.slider-row img {max-width: 100%;}

.title {font-size:24px; line-height: 1.6em; text-transform: uppercase; color: #ee6322; padding-bottom: 10px;}

.img_1 {background: url('../i/bitum_conf_1.jpg') center no-repeat; background-size: cover;}
.img_2 {background: url('../i/bitum_conf_2.jpg') center no-repeat; background-size: cover;}
.img_3 {background: url('../i/bitum_conf_3.jpg') center no-repeat; background-size: cover;}
.img_4 {background: url('../i/bitum_conf_4.jpg') center no-repeat; background-size: cover;}
.img_5 {background: url('../i/bitum_conf_5.jpg') center no-repeat; background-size: cover;}

.hex_1 {background: url('../i/hex_1.svg') 96% 96% no-repeat #f2f2f2; background-size: 130px;}
.hex_2 {background: url('../i/hex_2.svg') 4% 96% no-repeat #f2f2f2; background-size: 120px;}
.hex_3 {background: url('../i/hex_3.svg') 96% 96% no-repeat #f2f2f2; background-size: 125px;}
.hex_4 {background: url('../i/hex_1.svg') 4% 96% no-repeat #f2f2f2; background-size: 130px;}
.bg-gray {background-color: #f2f2f2;}

.m2 {width: 180px; margin-top: 40px; float: right; }
.m3 {width: 200px; margin-top: 40px;}
ul.partners {padding:0; margin:0;}
ul.partners li {list-style: none; width: 33%; float:left;}

.footer-row a {color:#fff; opacity: 0.8;}
.footer-row a:hover {opacity: 1;}
.logo_footer {max-height: 100px;}
.copyright {margin-top: 30px;}

@media only screen and (max-width: 768px) {

  .header-row, .footer-row {display: block; text-align: center;}

  img.logo {max-height: 150px; padding-top: 15px;}
  .header-row > .reg {margin-bottom: 20px;}

  .main-row {
	-ms-grid-columns: 100%;
    grid-template-columns: 100%;
	-ms-grid-rows: 300px auto auto 300px 300px auto auto 300px 300px auto;
    grid-template-rows: 300px auto auto 300px 300px auto auto 300px 300px auto;
  }
  .main-row > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-row > *:nth-child(2) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(4) {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(5) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(6) {
	-ms-grid-row: 6;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(7) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(8) {
	-ms-grid-row: 8;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(9) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;
  }
  .main-row > *:nth-child(10) {
	-ms-grid-row: 10;
	-ms-grid-column: 1;
  }

  .main-row > *:nth-child(n) {margin-bottom: 0;}
  .main-row > *:nth-child(2n) {margin-top: 0;}

  .hex_1, .hex_2, .hex_3, .hex_4 {padding-bottom: 110px !important;}
  ul.partners li {width:60%; margin: 0 auto; float:none;}
  .m2, .m3 {float:none; margin-left:auto; margin-right:auto;}
}
