body, html {
  padding:10px 0 0 0;
  margin: 0;
  height: 100%;
  font-family: 'DIN Pro', Arial;
  font-size: 12pt;
  color:#575756;
}

.orange {color: #ee6322;}
.dark {color: #243740;}

a {color: #ee6322; opacity: 0.8; text-decoration: none;}
a:hover {opacity: 1;}
p {line-height: 1.6em;}
h1 {}

.container{
  display: grid;
  grid-template-areas:  "header"
                        "slider"
                        "main"
                        "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
.col {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn {
  display: block;
  border: 1px solid #ee6322;
  padding: 6px;
  font-size: 14pt;
  color: #243740;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {background: #ee6322; color:#fff; box-shadow: 0 0 10px rgba(238,99,34,0.5);}
.m2 {width: 180px; margin-top: 40px; float: right; }
.m3 {width: 200px; margin-top: 40px;}

header, main {padding: 0 18px;}

.header-row {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto;
  max-width: 1200px;
  margin:0 auto;
  padding: 10px 0 6px;
  border-top:1px solid #243740;
  border-bottom:1px solid #243740;
}

.slider-row {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-height: 396px;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}
.slider-row img {max-width: 100%;}

.main-row{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin:0 auto;
}
.main-row > .col {padding:36px; margin: 20px 0;}

img.logo {max-height: 80px;}
.header-row > .title {padding-top: 20px; font-size: 18pt; font-weight: bold; text-transform: uppercase; color: #243740; text-align: center;}
.header-row > .reg {padding-top: 21px; width: 180px; margin: 0 auto;}

.title {font-size:24px; line-height: 1.6em; text-transform: uppercase; color: #ee6322; padding-bottom: 10px;}

.img_1 {background: url('../i/bitum_conf_1.jpg') no-repeat; background-size: cover;}
.img_2 {background: url('../i/bitum_conf_2.jpg') no-repeat; background-size: cover;}
.img_3 {background: url('../i/bitum_conf_3.jpg') no-repeat; background-size: cover;}
.img_4 {background: url('../i/bitum_conf_4.jpg') no-repeat; background-size: cover;}
.img_5 {background: url('../i/bitum_conf_5.jpg') no-repeat; background-size: cover;}

.bg-gray {background-color: #f2f2f2;}
.hex_1 {background: url('../i/hex_1.svg') 96% 96% no-repeat #f2f2f2; background-size: 110px;}
.hex_2 {background: url('../i/hex_2.svg') 4% 96% no-repeat #f2f2f2; background-size: 120px;}
.hex_3 {background: url('../i/hex_3.svg') 96% 96% no-repeat #f2f2f2; background-size: 125px;}
.hex_4 {background: url('../i/hex_1.svg') 4% 96% no-repeat #f2f2f2; background-size: 110px;}

ul.partners {padding:0; margin:0;}
ul.partners li {list-style: none; width: 33%; float:left;}

footer {background: #6f6f6e; margin-top: 20px; padding: 0 18px;}
.footer-row{
  display: grid;
  grid-template-columns: 200px 300px 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 20px auto 0;
  padding:40px 0 34px;
  color: #fff;
}
.footer-row a {color:#fff; opacity: 0.8;}
.footer-row a:hover {opacity: 1;}
.logo_footer {max-height: 100px;}
.copyright {padding-top: 30px;}

@media only screen and (max-width: 768px) {

  .main-row, .footer-row {
    grid-template-columns: 100%;
  }
  .header-row {display: block; text-align: center;}
  .main-row {grid-template-rows: 300px auto auto 300px 300px auto auto 300px 300px auto;}
  .footer-row {display: block; text-align: center;}

  img.logo {max-height: 150px; padding-top: 15px;}
  .header-row > .reg {padding: 29px 0; text-align: center;}

  .main-row > .col:nth-child(n) {margin-bottom: 0;}
  .main-row > .col:nth-child(2n) {margin-top: 0;}

  .hex_1, .hex_2, .hex_3, .hex_4 {padding-bottom: 110px !important;}
  ul.partners li {width:60%; margin: 0 auto; float:none;}
}
